@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      /* border-radius: 100vh; */
      background: #f3f4f6; /** f3f4f6 **/
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #6dbb64; /** b8d2fc **/
      border-radius: 100vh;
      border: 3px solid #6dbb64; /** b8d2fc **/
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7DAE78;  /** 7eaefd **/
    }
  }